body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
    
}

.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;

}
.link-button{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
}

.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    

}

h2{
    font-size: 40px;
}
p{
    color: dimgrey;
}
.single-exp{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height:80%
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#full{
    border-left:7px solid ;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    background-color: white;

}

#baby{
    border-left:7px solid ;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 10px;
}